In the same Kudu console you used earlier:

```
https://func-clinical-prodautomation-eastus-dev-01.scm.azurewebsites.net/DebugConsole
```

Open that URL in your browser, then paste these one by one:

```
grep "TIDAL_AUTH_TOKEN" /home/site/wwwroot/function_app.py
```
```
grep "GPT_ENDPOINT" /home/site/wwwroot/function_app.py
```
```
head -30 /home/site/wwwroot/function_app.py
```

Tell me what each one prints.
